.header {
    background-color: #f4f4f4;
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-radius: 7px;
}
.content {
    background-color: #ffffffde;
    border-radius: 7px;
    padding: 40px;
    font-size: 20px;
    height: 285px auto;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: 15px;
}
.footer {
    background-color: #f4f4f4;
    padding: 12px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 20px;
}
